<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %} {{ title }} {% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
              integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/css/style.css"/>
    {% endblock %}
</head>
<body>
{% block body %}
    {% block navbar %}
        <nav class="purple darken-3">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Oracular</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-nav">
            <li><a href="/login">Login</a></li>
        </ul>
    {% endblock %}

{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
            integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
{% endblock %}
</body>
</html>