:root {
    --theme-color: #6a1b9a;
    --theme-color-dark: #4a148c;
}

nav {
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    background-color: var(--theme-color);
}

.filter-opt {

}

span.event-data-title {
    font-weight: bolder;
}


.event-nav li.tab a {
    color: #9c9c9c;
    font-weight: bolder;
}

.event-nav li.tab a.active {
    color: #ffffff;
    font-weight: bolder;
}

.event-nav li.tab a:hover {
    color: #ffffff;
    font-weight: bolder;
    background-color: var(--theme-color-dark);
}

i#search-icon.material-icons.prefix.active {
    color: var(--theme-color) !important;
}

label.active {
    color: var(--theme-color);
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
    color: var(--theme-color);
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--theme-color);
    box-shadow: 0 1px 0 0 var(--theme-color);
}

input[type=email]:not(.browser-default):focus:not([readonly]) + label {
    color: var(--theme-color);
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--theme-color);
    box-shadow: 0 1px 0 0 var(--theme-color);
}

input[type=password]:not(.browser-default):focus:not([readonly]) + label {
    color: var(--theme-color);
}

input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--theme-color);
    box-shadow: 0 1px 0 0 var(--theme-color);
}

.center-block {
    width: 70%;
    margin: auto;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 500px;
}

.form-wrapper .card .card-content {
    width: 500px;
}

.btn-floating {
    background-color: var(--theme-color);
}

.btn-floating:hover {
    background-color: var(--theme-color-dark);
}

